.input-overlay-hack {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    top: 0;
    left: 0;
    cursor: pointer;
  }

  @include media-breakpoint-up(md) {
    .collapsible-card {
      width: 50%;
      min-width: 660px;
    }
  }

  .collapsible-trigger {
    background-color: rgb(244, 247, 255)
  }
