.input-overlay-hack {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    top: 0;
    left: 0;
    cursor: pointer;
  }

.collapsible-trigger {
  background-color: rgb(244, 247, 255)
}

@include media-breakpoint-up(md) {
  .half-width-element {
    display: inline-block;
    left: 0;
    min-width: 792px;
    width: 55%;
  }
}
