$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";
@import "../node_modules/bootstrap/scss/bootstrap";

@import "~@edx/brand/paragon/fonts";
@import "~@edx/brand/paragon/variables";
@import "~@edx/paragon/scss/core/core";
@import "~@edx/brand/paragon/overrides";

@import "~@edx/frontend-component-header/dist/index";
@import "~@edx/frontend-component-footer/dist/footer";

@import "./console/style";

@import "../node_modules/bootstrap/scss/bootstrap";

.word-break-all {
  word-break: break-all !important;
}

$vertical: vh-100;
$flex: d-flex;
$fc: flex-column;
$flexgrow: flex-grow-1;
$maxh: mh-50;

#app {
  max-height: $vertical;
  display: $flex;
  flex: $fc}
  #app > main {
    flex: $flexgrow }

footer a img {
  max-height:50px;}
