@import "../node_modules/bootstrap/scss/bootstrap";

$position: position-absolute;
$max-height: h-100;
$sizing-width: w-100;
$opacity: opacity-0;
$border-top: border-top-0;
$border-left: border-left-0;
$options: cursor-enabled-pointers;


.input-overlay-hack {
    position: $position;
    sizing-height: $max-height;
    sizing-width: $sizing-width;
    $opacity: $opacity;
    $border-top: $border-top;
    $border-left: $border-left;
    options: $options;
  }

.collapsible-trigger {
  background-color: theme-color("primary", "background");
}

$align-items-stretch: align-items-stretch;
$flex-wrap: flex-wrap;
$display: flex;

.enrollment-row {
  display: $display;
  flex: $align-items-stretch;
  flex-wrap: $flex-wrap;
  $justify-content-center: justify-content-center;
  $align-items-center: align-items-center;
  .btn {
    display: $display;
    justify-content-center: $justify-content-center;
    align-items-center: $align-items-center;
    sizing-height: $max-height;
    sizing-width: $sizing-width;
  }
}
