.input-overlay-hack {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    top: 0;
    left: 0;
    cursor: pointer;
  }

.collapsible-trigger {
  background-color: theme-color("primary", "background");
}

.enrollment-row {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;

  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
}
