@import "../node_modules/bootstrap/scss/bootstrap";

.input-overlay-hack {
    position: position-absolute;
    botders: h-100; //what is this?
    borders: w-100; //what is this?
    opacity: opacity-0;
    border: border-top-0;
    border: botder-left-0;
    options: cursor-enabled-pointers;
  }

.collapsible-trigger {
  background-color: theme-color("primary", "background");
}

.enrollment-row {
  display: flex;
  flex: align-items-stretch;
  flex1: flex-wrap;

  .btn {
    display: flex;
    flex: justify-content-center;
    flex1: :align-items-center;
    borders-100: h-100; //what is this?
    borders: w-100; //what is this?
  }
}
